html,
body {
  height: 100%;
  background-color: #006778;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffd124;
}

h1 {
  text-align: center;
}

.card-form {
  width: 300px;
  height: 450px;
  padding: 20px;
  background-color: #0093ab;
  border-radius: 10px;
}

input[type="username"],
input[type="password"],
input[type="email"] {
  background: #00afc1;
  color: white;
  border: 2px solid #ffd124;
  border-radius: 10px;
  margin-bottom: 25px;
}

input[type="username"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border: none;
  background: #00afc1;
  color: white;
}

.submit {
  margin: 10px;
  padding: 3px;
  background: #ffd124;
  color: #006778;
  border: #006778 solid;
  transform: translateY(10px);
  font-size: 14px;
  border-radius: 10px;
}
